{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>Hello, {% if name %}{{ name }}{% else %}Nobody{% endif %}!</h1>
  {% if not known %} <p>Pleased to meet you!</p>
  {% else %}         <p>Happy to see you again!</p>
  {% endif %}
</div>

{{ wtf.quick_form(form) }}

<h3>Your Flask app.config (configuration)</h3>

<p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
<p>That was {{ moment(current_time).fromNow(refresh=True) }}.</p>

<pre>{{app_config|safe}}</pre>

{% endblock %}
